@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

* {
    box-sizing: border-box;
}

@theme {
    --color-primary: black;
    --color-secondary: white;
    --color-header: #2855B2;
    --color-button1: #FBDF5A;
    --color-hover1: #6894D3;
    --font-primary: "Fira Code", monospace;
}

.section-container {
    @apply max-w-full container mx-auto px-12 py-20;
}